<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

    <menuitem name="menu-standard" title="基础数据" icon="fa-line-chart" icon-background="violet" />
    <menuitem name="menu-firstClass" title="一级分类管理" parent="menu-standard" action="action.demo.human" />
    <action-view name="action.demo.human" title="人类" model="com.yyc.demo.db.Human">
        <view type="grid" name="human-grid" />
        <view type="form" name="human-form" />
    </action-view>
</object-views>